<h1>OMDB SEARCH</h1>
<form class="form-inline" name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" novalidate>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !search.valid }">
    <label for="title"> Title </label>
    <input id="title" type="search" class="form-control title-control" name="title" [(ngModel)]="model.title" required />   
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !search.valid }">
    <label for="year"> Year  </label>
    <input id="year" type="number" class="form-control year-control" name="search" [(ngModel)]="model.year" />
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Search</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>
<div>
  <pagination-controls *ngIf="itemsList && itemsList.length > 0" (pageChange)="p = $event"></pagination-controls>
</div>


<table class='table table-hover' *ngIf="itemsList && itemsList.length > 0">
  <thead>
    <tr>
      <th>Poster</th>
      <th>Title</th>
      <th>Release Date</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr class='line' *ngFor="let item of itemsList | paginate: { itemsPerPage: ipp, currentPage: p }" (click)="itemClicked(itemsList.indexOf(item))">
      <td class="poster-cell">
        <div *ngIf="item.poster != 'N/A' && item.poster != null">
          <img width="100" height="100" src={{item.poster}}>
        </div>
      </td>
      <td class="title-cell">
        <div *ngIf="item.title != 'N/A' && item.title != null">
          {{ item.title }}
        </div>
        <br />
        <div *ngIf="itemsList.indexOf(item) == expanedItem">
          <div *ngIf="item.type == 'movie' && item.plot != 'N/A' && item.plot != null">
            {{ item.plot }}
          </div>
          <div *ngIf="item.type == 'movie' && (item.plot == 'N/A' || item.plot == null)">
            No Plot To Display.
          </div>
          <div *ngIf="item.type == 'series' && item.seasons != 'N/A' && item.seasons != null && item.seasons.length > 0">
            <ul *ngFor="let season of item.seasons">
              <li *ngIf="season.season != 'N/A' && season.season != null">
                Season {{ season.season }}:
                <div *ngIf="season.episodes != 'N/A' && season.episodes != null && season.episodes.length > 0" >
                  <ul *ngFor="let episode of season.episodes">
                    <li *ngIf="episode.title != 'N/A' && episode.title != null">
                      {{ episode.title }}, {{ episode.released }}
                    </li>
                  </ul>
                </div>
                <div *ngIf="item.type == 'series' && (season.episodes == 'N/A' || season.episodes == null || season.episodes.length <= 0)">
                  No Episodes To Display.
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="item.type == 'series' && (item.seasons == 'N/A' || item.seasons == null || item.seasons.length <= 0)">
            No Seasons To Display.
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="item.released != 'N/A' && item.released != null">
          {{ item.released }}
        </div>
      </td>
      <td>
        <div *ngIf="item.genre != 'N/A' && item.genre != null">
          {{ item.genre }}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<p class="message" *ngIf="!start && (!itemsList || itemsList.length <=0)">
  {{ response.message }}
</p>
